        <style>
            #travel {
                background-color:rgb();
            }
            body {
                background-color:rgb(146, 179, 212);
            }
            ul {
                background-color:rgb(197, 217, 237);
            }
            ol {
                background-color:rgb(197, 217, 237);
            }
            h2 { background-color:rgb(197, 217, 237);
            }
            h1 { background-color:rgb(197, 217, 237);
            }
        </style>
